@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Montserrat:wght@300&display=swap');

.skillContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 200px 0;
   
}

.skillContainer__text{
    color:rgb(255, 255, 255);
    flex:0.6;
    text-align: left;
    max-width: 500px;
    margin-bottom: 20px;

}

.skillContainer__text > h2{
    font-size: 25px;
}

.skillContainer__image{
    flex:0.4;
    text-align: center;
    margin-right: 100px;
   
    
    
}



.skillContainer__image > img{
    width:600px;
    border-radius: 3px;
    object-fit: contain;
    
}

.skillContaier__skillSet > h5{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    padding-bottom: 30px;
    padding-top: 10px;
}

.skillContainer__slider > .MuiLinearProgress-colorPrimary{
    background-color: rgb(88, 88, 88);
    height: 12px;
}

.skillContainer__slider1 >div >.MuiLinearProgress-barColorPrimary {
    background-color: #e23434;
}

.skillContainer__slider2 >div >.MuiLinearProgress-barColorPrimary {
    background-color: #13f56a;
}

.skillContainer__slider3 >div >.MuiLinearProgress-barColorPrimary {
    background-color: #7d13f5;
}

.skillContainer__slider4 >div >.MuiLinearProgress-barColorPrimary {
    background-color: #ff0095;
}

.skillContainer__slider5 >div >.MuiLinearProgress-barColorPrimary {
    background-color: #cc01ff;
   
}

